<!-- the underscore at the start indicates that this is partial -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <%= link_to "NavBar", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to "Home", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <!-- helper func so you don't have to manually change each entry if you want to change the link -->
                    <!-- the prefix written is routes.rb (can be found thru "rails routes") and attaching _url or _path will return the link -->
                    <%= link_to "About", about_path, class: "nav-link" %>
                    <!-- same as - <a class="nav-link" href="About">About</a> -->
                </li>
            </ul>
            <!-- the right side of the navbar -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <% if Current.user %>
                <li class="nav-item px-2">
                    <%= link_to Current.user.email, edit_password_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                <!-- method delete automatically transforms a GET request to DELETE request using JS, because web forms actually only support GET and POST -->
                    <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-secondary" %> 
                </li>
            <% else %>
                <li class="nav-item">
                    <%= link_to "Login", sign_in_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Sign Up", sign_up_path, class: "nav-link" %>
                </li>
            <% end %>
            </ul>
        </div>
    </div>
</nav>
